<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.jianghuling.wechatapp.dao.OrderMapper">
  <resultMap id="BaseResultMap" type="top.jianghuling.wechatapp.entity.Order">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="reward" jdbcType="REAL" property="reward" />
    <result column="host_name" jdbcType="VARCHAR" property="hostName" />
    <result column="take_address" jdbcType="VARCHAR" property="takeAddress" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="goods_weight" jdbcType="VARCHAR" property="goodsWeight" />
    <result column="starttime" jdbcType="TIME" property="starttime" />
    <result column="deadline" jdbcType="TIME" property="deadline" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="express_type" jdbcType="VARCHAR" property="expressType" />
    <result column="releaser_id" jdbcType="VARCHAR" property="releaserId" />
    <result column="host_phone" jdbcType="VARCHAR" property="hostPhone" />
    <result column="order_state" jdbcType="TINYINT" property="orderState" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    order_id, goods_code, note, reward, host_name, take_address, destination, goods_weight, 
    starttime, deadline, release_time, express_type, releaser_id, host_phone, order_state, 
    version
  </sql>
  <select id="selectByExample" parameterType="top.jianghuling.wechatapp.entity.OrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from express_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from express_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from express_order
    where order_id = #{orderId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="top.jianghuling.wechatapp.entity.OrderExample">
    delete from express_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.jianghuling.wechatapp.entity.Order">
    insert into express_order (order_id, goods_code, note, 
      reward, host_name, take_address, 
      destination, goods_weight, starttime, 
      deadline, release_time, express_type, 
      releaser_id, host_phone, order_state, 
      version)
    values (#{orderId,jdbcType=VARCHAR}, #{goodsCode,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, 
      #{reward,jdbcType=REAL}, #{hostName,jdbcType=VARCHAR}, #{takeAddress,jdbcType=VARCHAR}, 
      #{destination,jdbcType=VARCHAR}, #{goodsWeight,jdbcType=VARCHAR}, #{starttime,jdbcType=TIME}, 
      #{deadline,jdbcType=TIME}, #{releaseTime,jdbcType=TIMESTAMP}, #{expressType,jdbcType=VARCHAR}, 
      #{releaserId,jdbcType=VARCHAR}, #{hostPhone,jdbcType=VARCHAR}, #{orderState,jdbcType=TINYINT}, 
      #{version,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.jianghuling.wechatapp.entity.Order">
    insert into express_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="reward != null">
        reward,
      </if>
      <if test="hostName != null">
        host_name,
      </if>
      <if test="takeAddress != null">
        take_address,
      </if>
      <if test="destination != null">
        destination,
      </if>
      <if test="goodsWeight != null">
        goods_weight,
      </if>
      <if test="starttime != null">
        starttime,
      </if>
      <if test="deadline != null">
        deadline,
      </if>
      <if test="releaseTime != null">
        release_time,
      </if>
      <if test="expressType != null">
        express_type,
      </if>
      <if test="releaserId != null">
        releaser_id,
      </if>
      <if test="hostPhone != null">
        host_phone,
      </if>
      <if test="orderState != null">
        order_state,
      </if>
      <if test="version != null">
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="reward != null">
        #{reward,jdbcType=REAL},
      </if>
      <if test="hostName != null">
        #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="takeAddress != null">
        #{takeAddress,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        #{destination,jdbcType=VARCHAR},
      </if>
      <if test="goodsWeight != null">
        #{goodsWeight,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIME},
      </if>
      <if test="deadline != null">
        #{deadline,jdbcType=TIME},
      </if>
      <if test="releaseTime != null">
        #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressType != null">
        #{expressType,jdbcType=VARCHAR},
      </if>
      <if test="releaserId != null">
        #{releaserId,jdbcType=VARCHAR},
      </if>
      <if test="hostPhone != null">
        #{hostPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null">
        #{orderState,jdbcType=TINYINT},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.jianghuling.wechatapp.entity.OrderExample" resultType="java.lang.Long">
    select count(*) from express_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update express_order
    <set>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCode != null">
        goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.reward != null">
        reward = #{record.reward,jdbcType=REAL},
      </if>
      <if test="record.hostName != null">
        host_name = #{record.hostName,jdbcType=VARCHAR},
      </if>
      <if test="record.takeAddress != null">
        take_address = #{record.takeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.destination != null">
        destination = #{record.destination,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsWeight != null">
        goods_weight = #{record.goodsWeight,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null">
        starttime = #{record.starttime,jdbcType=TIME},
      </if>
      <if test="record.deadline != null">
        deadline = #{record.deadline,jdbcType=TIME},
      </if>
      <if test="record.releaseTime != null">
        release_time = #{record.releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expressType != null">
        express_type = #{record.expressType,jdbcType=VARCHAR},
      </if>
      <if test="record.releaserId != null">
        releaser_id = #{record.releaserId,jdbcType=VARCHAR},
      </if>
      <if test="record.hostPhone != null">
        host_phone = #{record.hostPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.orderState != null">
        order_state = #{record.orderState,jdbcType=TINYINT},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update express_order
    set order_id = #{record.orderId,jdbcType=VARCHAR},
      goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      note = #{record.note,jdbcType=VARCHAR},
      reward = #{record.reward,jdbcType=REAL},
      host_name = #{record.hostName,jdbcType=VARCHAR},
      take_address = #{record.takeAddress,jdbcType=VARCHAR},
      destination = #{record.destination,jdbcType=VARCHAR},
      goods_weight = #{record.goodsWeight,jdbcType=VARCHAR},
      starttime = #{record.starttime,jdbcType=TIME},
      deadline = #{record.deadline,jdbcType=TIME},
      release_time = #{record.releaseTime,jdbcType=TIMESTAMP},
      express_type = #{record.expressType,jdbcType=VARCHAR},
      releaser_id = #{record.releaserId,jdbcType=VARCHAR},
      host_phone = #{record.hostPhone,jdbcType=VARCHAR},
      order_state = #{record.orderState,jdbcType=TINYINT},
      version = #{record.version,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.jianghuling.wechatapp.entity.Order">
    update express_order
    <set>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="reward != null">
        reward = #{reward,jdbcType=REAL},
      </if>
      <if test="hostName != null">
        host_name = #{hostName,jdbcType=VARCHAR},
      </if>
      <if test="takeAddress != null">
        take_address = #{takeAddress,jdbcType=VARCHAR},
      </if>
      <if test="destination != null">
        destination = #{destination,jdbcType=VARCHAR},
      </if>
      <if test="goodsWeight != null">
        goods_weight = #{goodsWeight,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        starttime = #{starttime,jdbcType=TIME},
      </if>
      <if test="deadline != null">
        deadline = #{deadline,jdbcType=TIME},
      </if>
      <if test="releaseTime != null">
        release_time = #{releaseTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expressType != null">
        express_type = #{expressType,jdbcType=VARCHAR},
      </if>
      <if test="releaserId != null">
        releaser_id = #{releaserId,jdbcType=VARCHAR},
      </if>
      <if test="hostPhone != null">
        host_phone = #{hostPhone,jdbcType=VARCHAR},
      </if>
      <if test="orderState != null">
        order_state = #{orderState,jdbcType=TINYINT},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.jianghuling.wechatapp.entity.Order">
    update express_order
    set goods_code = #{goodsCode,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      reward = #{reward,jdbcType=REAL},
      host_name = #{hostName,jdbcType=VARCHAR},
      take_address = #{takeAddress,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      goods_weight = #{goodsWeight,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIME},
      deadline = #{deadline,jdbcType=TIME},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      express_type = #{expressType,jdbcType=VARCHAR},
      releaser_id = #{releaserId,jdbcType=VARCHAR},
      host_phone = #{hostPhone,jdbcType=VARCHAR},
      order_state = #{orderState,jdbcType=TINYINT},
      version = #{version,jdbcType=INTEGER}
    where order_id = #{orderId,jdbcType=VARCHAR}
  </update>

  <!--Created by Jason 2018/9/11-->
  <resultMap id="BriefOrderMap" type="top.jianghuling.wechatapp.results.BriefOrder">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="reward" jdbcType="REAL" property="reward" />
    <result column="starttime" jdbcType="TIME" property="starttime" />
    <result column="deadline" jdbcType="TIME" property="deadline" />
      <result column="version" jdbcType="INTEGER" property="version" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="express_type" jdbcType="VARCHAR" property="expressType" />
    <result column="goods_weight" jdbcType="VARCHAR" property="goodsWeight" />
    <result column="take_address" jdbcType="VARCHAR" property="takeAddress" />
  </resultMap>
  <sql id="Brief_Order_List">
    order_id, note, reward, take_address, destination, goods_weight,
    starttime, deadline, release_time, express_type,
  </sql>
  <select id="selectBriefOrderByPage" resultMap="BriefOrderMap">
    select
    <include refid="Brief_Order_List"/>
    from express_order
    limit #{startIndex},#{pageSize}
    where order_state=#{orderState}
  </select>

  <!--created by jason @2018/9/11-->
  <resultMap id="OrderLinkMission" type="top.jianghuling.wechatapp.entity.OrderLinkMission">
    <id column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="reward" jdbcType="REAL" property="reward" />
    <result column="host_name" jdbcType="VARCHAR" property="hostName" />
    <result column="take_address" jdbcType="VARCHAR" property="takeAddress" />
    <result column="destination" jdbcType="VARCHAR" property="destination" />
    <result column="goods_weight" jdbcType="VARCHAR" property="goodsWeight" />
    <result column="starttime" jdbcType="TIME" property="starttime" />
    <result column="deadline" jdbcType="TIME" property="deadline" />
    <result column="release_time" jdbcType="TIMESTAMP" property="releaseTime" />
    <result column="express_type" jdbcType="VARCHAR" property="expressType" />
    <result column="releaser_id" jdbcType="VARCHAR" property="releaserId" />
    <result column="host_phone" jdbcType="VARCHAR" property="hostPhone" />
    <result column="order_state" jdbcType="TINYINT" property="orderState" />
    <result column="taker_phone" jdbcType="VARCHAR" property="takerPhone" />
    <result column="mission_id"  jdbcType="VARCHAR" property="missionId" />
    <result column="taker_id"  jdbcType="VARCHAR" property="takerId" />
  </resultMap>
  <sql id="Order_Mission">
    order_id, goods_code, note, reward, host_name, take_address, destination, goods_weight,
    starttime, deadline, release_time, express_type, releaser_id, host_phone, order_state,
    taker_phone,taker_id,mission_id
  </sql>
  <select id="selectOrderMission" resultMap="OrderLinkMission">
    select
    <include refid="Order_Mission"/>
    from mission_order_view
    where releaser_id=#{hostId}
    order by release_time desc
    limit #{startIndex},#{pageSize}
  </select>

  <!--Create by Jason @2018/9/13-->
  <update id="updateByKeyLimitVsn" parameterType="top.jianghuling.wechatapp.entity.Order">
    update express_order
    set goods_code = #{goodsCode,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR},
      reward = #{reward,jdbcType=REAL},
      host_name = #{hostName,jdbcType=VARCHAR},
      take_address = #{takeAddress,jdbcType=VARCHAR},
      destination = #{destination,jdbcType=VARCHAR},
      goods_weight = #{goodsWeight,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=TIME},
      deadline = #{deadline,jdbcType=TIME},
      release_time = #{releaseTime,jdbcType=TIMESTAMP},
      express_type = #{expressType,jdbcType=VARCHAR},
      releaser_id = #{releaserId,jdbcType=VARCHAR},
      host_phone = #{hostPhone,jdbcType=VARCHAR},
      order_state = #{orderState,jdbcType=TINYINT},
      version = version+1
    where order_id = #{orderId,jdbcType=VARCHAR} and version = #{version,jdbcType=INTEGER}
  </update>

</mapper>